@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: rgb(28, 162, 193);
  --primary-color-darker: rgb(17, 90, 105);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.timer {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.container button {
  height: 50px;
  padding: 5px;
  margin-top: 10px;
  width: 24.3%;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
}

.container button:hover {
  background-color: var(--primary-color-darker);
}

/* Timer Styles */
.isStopped {
  color: red;
}
