@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: rgb(22, 165, 179);
  --primary-color-darker: rgb(17, 90, 105);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.container h1 {
  text-align: center;
  margin-bottom: 40px;
}

.generated-cpf {
  font-size: 2em;
  color: var(--primary-color);
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}